.card{
    background-color: bisque;

    .card-body{
        border-radius: 10%;

        .card-title{
            font-style: italic;
            font-weight: 700;
        }

        .list-group{

            .list-group-item{
                background-color: greenyellow;
                border: black 1px solid;
            }
        }
    }
}